@import './variables.scss';

$heightNav: 100px;

// MIXINS
@mixin titleFont {
    font-family: var(--font);
}

@mixin paragraphFont {
    font-family: 'Barlow', sans-serif;
}

@mixin container {
    margin: 2em;
}