@import "./../../styles/base.scss";

.Button {
    position: relative;
    width: fit-content;
    line-height: 1.7em;
    border-bottom: 0.5px solid;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid var(--secondary-color)olor;
    padding: 1em 2.5em;
    border-radius: 5em;
    letter-spacing: 0.8px;
    background-color: transparent;
    &.primary {
        background-color: transparent;
        &:hover {
            background-color: var(--secondary-color)olor;
            color: var(--primary-color);
            cursor: pointer;
        }
    }
    &.secondary {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        &:hover {
            background-color: var(--primary-color);
            color: white;
            cursor: pointer;
        }
    }
    &.tertiary {
        padding: 0.6em 1em;
        border: none;
        width: fit-content;
        border-radius: 100px;
        grid-column: 2;
        justify-self: end;
        cursor: pointer;
        font-weight: 600;
        font-size: .9rem;
    }
}
@keyframes slide {
    0% {
        width: 25%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 40px;
        right: 0;
        left: 70%;
    }
}

@keyframes slideOut {
    0% {
        width: 40px;
        right: 0;
        left: 100%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 40px;
        left: 0;
        right: 100%;
    }
}
