@import "./styles/base.scss";
@import "./styles/variables.scss";

* {
  box-sizing: border-box;
  color: var(--secondary-color);
}

header {

  &.scrolled,
  &:hover {
    background-color: white;
    transition: 300ms all;
  }
}

body {
  @include paragraphFont();
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.layout__container {
  width: 85%;
  margin: auto;
  margin-top: $heightNav;
  margin-bottom: 4em;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

header {
  min-height: $heightNav;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input,
button {

  &:focus,
  &:active {
    outline: none;
  }
}

button {
  transition: 300ms all;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.openChat {
  background-color: var(--primary-color);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  min-width: 200px;
  border-radius: 40px;
  padding: .5rem 2rem;
  text-align: center;
  z-index: 99999;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  transition: 300ms all;

  &:hover {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
    transition: 300ms all;
  }

  p {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: .9rem;
    color: white;
  }
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d3cdd5 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d3cdd5;
  border-radius: 10px;
  border: 3px solid #ffffff;
}